<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <%- include('../partials/header') %>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <%- include('../partials/Loader') %>

            <!-- Navbar -->
            <%- include('../partials/navbar') %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include('../partials/sidebar') %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <div class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <h1 class="mb-2">Add Category</h1>
                                        <ol class="breadcrumb float-sm-left">
                                            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                                            <li class="breadcrumb-item"><a href="/admin/product/category">Category</a>
                                            </li>
                                            <li class="breadcrumb-item active">ADD Category</li>
                                        </ol>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </div>
                        <!-- /.content-header -->

                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card card-primary">
                                            <!-- Card Header -->
                                            <div class="card-header">
                                                <h3 class="card-title">General</h3>
                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"
                                                        data-card-widget="collapse" title="Collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- Card Header End -->

                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <form id="updateFormData" enctype="multipart/form-data"
                                                            data-id="<%= category._id %>">
                                                            <div class="form-group">
                                                                <label for="inputTitle">Title</label>
                                                                <input type="text" id="inputTitle" class="form-control"
                                                                    placeholder="Enter Title" name="title"
                                                                    autocomplete="off" value="<%= category.title %>"
                                                                    required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputSlug">Slug</label>
                                                                <input type="text" id="inputSlug" autocomplete="off"
                                                                    class="form-control" name="slug"
                                                                    placeholder="Enter Slug"
                                                                    value="<%= category.slug %>" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="inputStatus">Status</label>
                                                                <select id="inputStatus" name="status"
                                                                    class="form-control custom-select">
                                                                    <% if (category.status) { %>
                                                                        <option value="true" selected>Active</option>
                                                                        <option value="false">InActive</option>
                                                                        <% } else { %>
                                                                            <option value="true">Active</option>
                                                                            <option value="false" selected>InActive
                                                                            </option>
                                                                            <% } %>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="d-flex gap-3 justify-content-center">
                                                                    <button type="submit" id="submitbtn"
                                                                        class="btn btn-success btn-xs">
                                                                        <i class="fa-solid fa-cloud-arrow-up"></i>
                                                                        Submit
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- /.content-wrapper -->
                    <footer class="main-footer">
                        <strong>Copyright &copy; 2014-2021</strong>
                        All rights reserved.
                    </footer>

    </div>
    <!-- ./wrapper -->
    <%- include('../partials/script') %>
        <script>const EndAPI = 'product/category';</script>
        <script async type="module" src="/assets/js/main.js"></script>
</body>

</html>