<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <%- include('./partials/header') %>
        <link rel="stylesheet" href="/assets/vendor/datatables-responsive/css/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="/assets/vendor/datatables-bs4/css/dataTables.bootstrap4.min.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <%- include('./partials/Loader') %>

            <!-- Navbar -->
            <%- include('./partials/navbar') %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include('./partials/sidebar') %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <h1 class="mb-2">Home</h1>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </section>

                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-3 col-6">
                                        <!-- small box -->
                                        <div class="small-box bg-info">
                                            <div class="inner">
                                                <h3>
                                                    <i class="fa-solid fa-indian-rupee-sign"></i>
                                                    <%= totalAmount %>
                                                </h3>

                                                <p>Ads Revenue</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa-solid fa-chart-area"></i>
                                            </div>
                                            <a href="/admin/transactions" class="small-box-footer">More info <i
                                                    class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-6">
                                        <!-- small box -->
                                        <div class="small-box bg-success">
                                            <div class="inner">
                                                <h3> <%= activeLising %> </h3>

                                                <p>Active Listing</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-stats-bars"></i>
                                            </div>
                                            <a href="#" class="small-box-footer">More info <i
                                                    class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-6">
                                        <!-- small box -->
                                        <div class="small-box bg-dark">
                                            <div class="inner">
                                                <h3> <%= deactiveLising %> </h3>

                                                <p>Deactive Listing</p>
                                            </div>
                                            <div class="icon">
                                                <i class="ion ion-stats-bars"></i>
                                            </div>
                                            <a href="#" class="small-box-footer">More info <i
                                                    class="fas fa-arrow-circle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- /.content-wrapper -->
                    <footer class="main-footer">
                        <strong>Copyright &copy; 2014-2021</strong>
                        All rights reserved.
                    </footer>

    </div>
    <!-- ./wrapper -->
    <%- include('./partials/script') %>
</body>

</html>