<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <%- include('../partials/header') %>
        <style>
            .hide-input {
                border: 0;
                background: none;
                outline: none;
            }
        </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <%- include('../partials/Loader') %>

            <!-- Navbar -->
            <%- include('../partials/navbar') %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include('../partials/sidebar') %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <h1 class="mb-2">States</h1>
                                        <ol class="breadcrumb float-sm-left">
                                            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                                            <li class="breadcrumb-item active">All States</li>
                                        </ol>
                                    </div>
                                    <div class="col-md-6 align-content-center">
                                        <button type="button" data-toggle="modal" data-target="#addlocationmodal"
                                            class="btn btn-primary float-right">
                                            ADD New
                                        </button>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </section>

                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <table style="overflow-x: scroll;" id="datatable"
                                                    class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>S.no</th>
                                                            <th>State</th>
                                                            <th>Status</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="table-grid">
                                                        <% states.forEach((state,i)=> { %>
                                                            <tr class="table-row">
                                                                <td>
                                                                    <%= i+1 %>
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="input<%= state._id %>"
                                                                        value="<%= state.name %>"
                                                                        class="locationInput hide-input py-1 px-3"
                                                                        readonly>
                                                                </td>
                                                                <td>
                                                                    <label class="switch">
                                                                        <input type="checkbox" class="status"
                                                                            data-id="<%= state._id %>" <%=state.status
                                                                            ? "checked" : "" %>>
                                                                        <span class="slider"></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <a href="/admin/location/state/<%= state._id %>"
                                                                        class="btn btn-primary">
                                                                        <i class="fa-solid fa-pen-to-square"></i>
                                                                        Edit
                                                                    </a>
                                                                    <button type="button" data-id="<%= state._id %>"
                                                                        data-toggle="modal" data-target="#modal-danger"
                                                                        class="btn btn-danger openModal">
                                                                        <i class="fa-solid fa-trash-can"></i>
                                                                        Delete
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- /.content-wrapper -->
                    <footer class="main-footer">
                        <strong>Copyright &copy; 2014-2021</strong>
                        All rights reserved.
                    </footer>

    </div>
    <!-- ./wrapper -->
    <%- include('../partials/danger-modal') %>
        <%- include('./addState.modal.ejs') %>
            <%- include('../partials/script') %>
                <%- include('../partials/datatables.script.ejs') %>
                    <script> const EndAPI = 'location/state';</script>
                    <script async type="module" src="/assets/js/datatable.js"></script>
                    <script async type="module" src="/assets/js/main.js"></script>
</body>

</html>