<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <%- include('../partials/header') %>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
        <%- include('../partials/Loader') %>

            <!-- Navbar -->
            <%- include('../partials/navbar') %>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                <%- include('../partials/sidebar') %>

                    <!-- Content Wrapper. Contains page content -->
                    <div class="content-wrapper">
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <h1 class="mb-2">All Deactivated Sellers</h1>
                                        <ol class="breadcrumb float-sm-left">
                                            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                                            <li class="breadcrumb-item active">All Deactivated Sellers</li>
                                        </ol>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                        </section>

                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <table style="overflow-x: scroll;" id="datatable"
                                                    class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>S.no</th>
                                                            <th>Name</th>
                                                            <th>Email</th>
                                                            <th>Phone</th>
                                                            <th>Account Status</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="table-grid">
                                                        <% sellers.forEach((seller,i)=> { %>
                                                            <tr>
                                                                <td>
                                                                    <%= i+1 %>
                                                                </td>
                                                                <td>
                                                                    <%= seller.name %>
                                                                </td>
                                                                <td>
                                                                    <%= seller.email %>
                                                                </td>
                                                                <td>
                                                                    <%= seller.phone %>
                                                                </td>
                                                                <td>
                                                                    <label class="switch">
                                                                        <input type="checkbox" class="status"
                                                                            data-id="<%= seller._id %>" <%=seller.status ? "checked" : ""
                                                                            %>>
                                                                        <span class="slider"></span>
                                                                    </label>
                                                                </td>
                                                                <td>
                                                                    <button type="button" data-id="<%= seller._id %>"
                                                                        data-toggle="modal" data-target="#modal-danger"
                                                                        class="btn btn-danger openModal">
                                                                        <i class="fa-solid fa-trash-can"></i>
                                                                        Delete
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- /.content-wrapper -->
                    <footer class="main-footer">
                        <strong>Copyright &copy; 2014-2021</strong>
                        All rights reserved.
                    </footer>

    </div>
    <!-- ./wrapper -->
    <%- include('../partials/danger-modal') %>
        <%- include('../partials/script') %>
            <%- include('../partials/datatables.script.ejs') %>
                <script> const EndAPI = 'seller';</script>
                <script async type="module" src="/assets/js/datatable.js"></script>
</body>

</html>